@font-face
{
  font-family: 'Raleway';
  src: url('fonts/Raleway-Medium.ttf') format('ttf');
  font-weight: 500;
}

@font-face
{
  font-family: 'Raleway';
  src: url('fonts/Raleway-SemiBold.ttf') format('ttf');
  font-weight: 600;
}

@font-face
{
  font-family: 'Raleway';
  src: url('fonts/Raleway-Bold.ttf') format('ttf');
  font-weight: 700;
}

.top_block_wrapper
{
    background: url('../images/coffee.jpg') center center;
    background-size: cover;
    padding: 110px 20px;
}

.top_block_wrapper.forkids
{
    background: url('../images/forKids.jpg') center center;
    background-size: cover;
    padding: 110px 20px;
}

.top_block_wrapper.foraverageagepeople
{
    background: url('../images/midle.jpg') center center;
    background-size: cover;
    padding: 110px 20px;
}

.top_block_wrapper.forold
{
    background: url('../images/old.jpg') center center;
    background-size: cover;
    padding: 110px 20px;
}

*
{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

.top_menu
{
    text-align: center;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu_item
{
    list-style: none;

}
.auth {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 509px;
    background: #F4EFE3;
    display: flex;
    flex-direction: row;
}

.Title__in__content {
    width: 460px;
    height: 124px;
    padding-top: 30px;
    margin-left: 122px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 62px;
    letter-spacing: -2px;
    color: #090914;
}

.general__text {
    width: 386px;
    height: 52px;
    margin-left: 122px;
    padding-top: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 144%;

    color: #383838;
}

.for__image {
    position: absolute;
    width: 364px;
    height: 237px;
    margin-left: 122px;
    padding-top: 29px;
    background: url(.png);
}

.anput__style {
    gap: 10px;
    margin-top: 30px;
    width: 426px;
    height: 50px;
    border-color: rgb(183, 142, 29);
    border-width: 5px;
    padding-left: 20px;
}

.login {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: center;
}

.login__button {

    padding: 16px;
    gap: 10px;
    margin-top: 20px;
    width: 449px;
    height: 60px;

    background: #7E6B4C;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;

    color: #FFFFFF;
}


.menu_link
{
    text-decoration: none;
    padding: 0 20px;
    line-height: 80px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #282b30;
    display: inline-block;
}

.top_block_wrapper
{
    background: url('../images/top_block.jpg') center center;
    background-size: cover;
    padding: 175px 0;
    text-align: center;
}

.top_block_title_wrapper
{
    background: rgba(0, 0, 0, 0.75);
    padding: 20px;
    display: inline-block;
}

.top_block_title
{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    line-height: 64px;
    font-weight: 500;
    text-transform: uppercase;
}

.content_wrapper
{
    padding: 60px 20px;
    width: 1000px;
    margin: 0 auto;
}

.content_title
{
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    line-height: 46px;
    font-weight: 500;
    text-transform: uppercase;
    color: #282b30;
    margin: 0 0 40px;
}

.text
{
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    line-height: 27px;
    font-weight: 500;
    margin: 0 0 25px;
    color: #282b30;
    max-width: 560px;
}

.content_list
{
    margin: 0 0 40px;
    padding: 0 0 0 20px;
}

.content_list_item
{
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    line-height: 27px;
    font-weight: 500;
    margin: 0 0 10px;
    color: #282b30;
    max-width: 380px;
}

.order_button
{
    background: #0fa8ea;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 52px;
    font-weight: 700;
    border-radius: 26px;
    padding: 0 50px;
    display: inline-block;
    text-decoration: none;
}
.order_button:hover
{
    background: #156181;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 52px;
    font-weight: 700;
    border-radius: 26px;
    padding: 0 50px;
    display: inline-block;
    text-decoration: none;
    transition: .5s;
    box-shadow: 5px 5px 10px #888888;
}

.order_title
{
    max-width: 340px;
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    line-height: 32px;
    font-weight: 500;
    color: #2b2b2b;
    margin: 0 0 26px;
}

.order_text_wrapper
{
    display: inline-block;
    width: 430px;
    margin-right: 110px;
}

.order_picture_wrapper
{
    display: inline-block;
}

.bottom_menu
{
    background: #e8e6eb;
    text-align: center;
}
